{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="h4 mb-0">Library Management System</span>
                        <div>
                            <a href="{{ url_for('home') }}" class="btn btn-sm btn-outline-light me-2">Home</a>
                            <a href="{{ url_for('logout') }}" class="btn btn-sm btn-outline-light">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="text-center my-5">
                        <h3>Transaction cancelled</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <strong>Note:</strong> 
                            <ul>
                                <li>If logged in as Admin - home will take to Admin Home Page</li>
                                <li>If logged in as user - home will take to User Home Page</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 